# Ignore Node.js related files and directories
node_modules/
npm-debug.log
yarn-error.log

# Ignore build output
/.next/
/out/
/.nuxt/
/dist/
.nuxt

# Ignore environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore development server files
.nuxt/
.nuxt/
.nuxt-*
